/* afacad-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Afacad';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/afacad-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

  body {
    position: relative;
    background-color: #FEFEFF;
    margin: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid #273E47;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }


  ul {
    display: flex;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    margin-right: 1rem;
  }

  li a {
    text-decoration: none;
    color: black;
  }

  a {
    display: inherit;
  }

  a img {
    max-width: 3rem;
    cursor: pointer;
  }

  .content {
    display: flex;
    justify-content: space-between;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
    transform: translateY(30%);
    gap: 2rem;

  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    max-width: 49rem;
  }

  .image {
    display: inherit;
  }

  .image img {
    max-width: 25rem;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
  }